<div class="panel panel-default" style="margin-top:10px;">
<div class="panel-heading">
    {{pattern.name}}
</div>
<div class="panel-body" style="position:relative">
    <div class="table-responsive">
        <table class="table">
            <tbody>

                <tr *ngFor="let row of pattern.stitches; let i = index">
                    <td *ngFor="let stitch of row; let j = index" (click)="placeStitch(i,j)">
                      {{stitch}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>