<div class="panel panel-default" style="margin-top:10px;">
    <div class="panel-heading">
        Create a Pattern
    </div>
    <div class="panel-body" style="position:relative">
        <form class="form-horizontal" (ngSubmit)="onSubmit()">

            <div class="form-group">

                <label class="col-xs-2 control-label" for="">Pattern name: </label>
                <div class="col-xs-10">
                    <input type="text" style="width: 300px" class="form-control" required
                        [(ngModel)]="pattern.name" name="patternName">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label" for="">Width: </label>
                <div class="col-xs-10">
                    <input type="number" style="width: 300px" class="form-control" required
                        [(ngModel)]="pattern.width" name="patternWidth">
                </div>
            </div>

            <div class="form-group">

                <label class="col-xs-2 control-label" for="">Height: </label>
                <div class="col-xs-10">
                    <input type="number" style="width: 300px" class="form-control" required
                        [(ngModel)]="pattern.height" name="patternHeight">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <input class="btn btn-default" type="submit" value="Create" />
                </div>
            </div>
        </form>
    </div>
</div>